motor==3.7.0
kurigram==2.2.20
tgcrypto==1.2.5
python-dotenv==1.0.1
httpx==0.28.1
psutil==6.1.1
pydantic==2.10.8
orjson==3.10.15
redis==5.2.1
fastapi==0.115.8
uvicorn==0.34.0
python-multipart==0.0.20
websockets==14.2
dnspython==2.7.0
