# Bot Configuration
TOKEN=your_bot_token_here
BOT_USERNAME=Seal_Your_Waifu_Bot

# Telegram API credentials
API_ID=1234567
API_HASH=your_api_hash_here

# Database
MONGO_URL=mongodb+srv://...
REDIS_URL=rediss://default:YOUR_TOKEN@civil-monster-36827.upstash.io:PORT

# User IDs and Group IDs
OWNER_ID=6574393060
SUDO_USERS=7717913705,6574393060,6388703157,6858372924

GROUP_ID=-1002528887253
SUPPORT_ID=-1002528887253
CHARA_CHANNEL_ID=-1002643258398
JOINLOGS=-1002036001760
LEAVELOGS=-1002036001760

# Special IDs for spawns
SPECIAL_GROUP_ID=-1002528887253
ROYAL_NOTIFY_USER_ID=7717913705

# Chats
SUPPORT_CHAT=seal_Your_WH_Group
UPDATE_CHAT=SEAL_UPDATE

# Media (Comma separated)
PHOTO_URL=https://files.catbox.moe/2hsawz.jpg
